In [2]:
import pymysql

In [3]:
conexion = pymysql.connect(
	host = 'localhost',     # o con el IP ?
	user = 'root',          # en una empresa es el que nos den
	passwd = 'Qaz12.89',    # el port no se suele colocar
	db = 'henry'
)

# OTRA FORMA (se pueden poner en otro orden, y usar palabras completas):
# conexion = pymysql.connect(
#	host = 'localhost', 	# servidor local
#	database = 'henry',	    # nombre base de datos
#	user = 'root',		    # nombre del usuario
#	password = 'Qaz12.89'	# password del usuario
# )

In [4]:
cursor = conexion.cursor()

In [24]:
cursor.execute('SELECT * FROM instructor')
for elemento in cursor:
	print(elemento)

(1, '25456879', 'Antonio', 'Barrios', datetime.date(1981, 7, 9), datetime.date(2019, 11, 8))
(2, '28456321', 'Lucia', 'Fernandez', datetime.date(1992, 5, 25), datetime.date(2019, 11, 8))
(3, '27198354', 'Leo', 'Paris', datetime.date(1985, 6, 20), datetime.date(2021, 8, 15))
(4, '36987520', 'Agust√≠n', 'Casagne', datetime.date(1988, 8, 17), datetime.date(2021, 8, 15))
(5, '33456215', 'Franco', 'Caseros', datetime.date(1995, 5, 1), datetime.date(2021, 8, 15))
(6, '30521369', 'Dario', 'Ramirez', datetime.date(1989, 7, 20), datetime.date(2021, 12, 1))
(7, '28856789', 'Agustina', 'Medina', datetime.date(1991, 3, 8), datetime.date(2021, 12, 1))
(8, '33128987', 'Jorge', 'Perez', datetime.date(1988, 2, 19), datetime.date(2021, 12, 1))

In [25]:
cursor.execute("""SELECT idCohorte, COUNT(idAlumno) 'cantidad alumnos'
                    FROM alumno
                    GROUP BY idCohorte;""")
for alumno in cursor:
	print(alumno)

(1235, 20)
(1236, 20)
(1237, 20)
(1238, 20)
(1239, 20)
(1240, 20)
(1241, 20)
(1242, 20)
(1243, 20)