In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [3]:
conexion = pymysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'Qaz12.89',
    db = 'henry_m3'
)

In [4]:
cursor = conexion.cursor()
cursor.execute('SELECT * FROM cliente')

In [11]:
my_conn = create_engine('mysql+pymysql://root:Qaz12.89@localhost:3306/henry_m3')
if my_conn:
    print('CONEXION EXITOSA!!!')

CONEXION EXITOSA!!!

In [13]:
canalventa = pd.read_excel(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\CanalDeVenta.xlsx')
canalventa

   CODIGO DESCRIPCION
0       1  Telefónica
1       2      OnLine
2       3  Presencial

In [14]:
query = """
CREATE TABLE IF NOT EXISTS CanalVenta (
    CODIGO INT,
    DESCRIPCION VARCHAR(30)
);
"""

cursor.execute(query)

0

In [15]:
canalventa.to_sql(name='CanalVenta',con=my_conn, if_exists='append', index=False)

C:\Users\Intel\AppData\Local\Temp\ipykernel_8552\1296981991.py:1: UserWarning: The provided table name 'CanalVenta' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  canalventa.to_sql(name='CanalVenta',con=my_conn, if_exists='append', index=False)

3

In [31]:
query1 = "SELECT * FROM sucursal"
sucursal = pd.read_sql(query1, conexion)
sucursal.head()

C:\Users\Intel\AppData\Local\Temp\ipykernel_8552\1966277094.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sucursal = pd.read_sql(query1, conexion)

,ID,Sucursal,Direccion,Localidad,Provincia,Latitud,Longitud
0,1,Cabildo,Av. Cabildo 1342,Ciudad de Buenos Aires,Ciudad de Buenos Aires,"-34,5678060","-58,4495720\r"
1,2,Palermo 1,Guatemala 5701,CABA,CABA,"-34,5790350","-58,4335660\r"
2,3,Palermo 2,Gral. Lucio Norberto Mansilla 2668,CABA,C deBuenos Aires,"-34,5959660","-58,4051500\r"
3,4,Corrientes,Av. Corrientes 2352,Ciudad de Buenos Aires,Bs As,"-34,6046850","-58,3987640\r"
4,5,Almagro,Venezuela 3650,Capital,Bs.As.,"-34,6173080","-58,4161790\r"

In [67]:
proveedor = pd.read_excel(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Proveedores.xlsx')
proveedor

,IDProveedor,Nombre,Address,City,State,Country,departamen
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA
5,6,Importadora Mann Kloss,LOPE DE VEGA 2102,BOCA DE ATENCION MONTE CASTRO,CABA,ARGENTINA,COMUNA 10
6,7,Fletes y Logistica,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
7,8,NaN,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
8,9,Via Chile Containers,JUAN B. JUSTO 415,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
9,10,Full Toner,CORDOBA 246,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
10,11,Via Chile Containers,VICEALTE O CONNOR 847,SAN CARLOS DE BARILOCHE,RIO NEGRO,ARGENTINA,BARILOCHE
11,12,Central Rosario SRL,SAN MARTIN 4816,ROSARIO,SANTA FE,ARGENTINA,ROSARIO
12,13,María Rivarola,SANTIAGO DEL ESTERO 1020,SAN MIGUEL DE TUCUMAN,TUCUMAN,ARGENTINA,CAPITAL
13,14,Río Full Net,BELGRANO 244,MONTEROS,TUCUMAN,ARGENTINA,MONTEROS

In [68]:
proveedor.rename(columns={'Address':'Direccion',
                        'City':'Ciudad',
                        'State':'Provincia',
                        'Country':'Pais',
                        'departamen':'Departamento'}, inplace=True)

In [69]:
proveedor

,IDProveedor,Nombre,Direccion,Ciudad,Provincia,Pais,Departamento
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA
5,6,Importadora Mann Kloss,LOPE DE VEGA 2102,BOCA DE ATENCION MONTE CASTRO,CABA,ARGENTINA,COMUNA 10
6,7,Fletes y Logistica,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
7,8,NaN,SANTA ROSA 1564,CORDOBA,CORDOBA,ARGENTINA,CAPITAL
8,9,Via Chile Containers,JUAN B. JUSTO 415,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
9,10,Full Toner,CORDOBA 246,MENDOZA,MENDOZA,ARGENTINA,CAPITAL
10,11,Via Chile Containers,VICEALTE O CONNOR 847,SAN CARLOS DE BARILOCHE,RIO NEGRO,ARGENTINA,BARILOCHE
11,12,Central Rosario SRL,SAN MARTIN 4816,ROSARIO,SANTA FE,ARGENTINA,ROSARIO
12,13,María Rivarola,SANTIAGO DEL ESTERO 1020,SAN MIGUEL DE TUCUMAN,TUCUMAN,ARGENTINA,CAPITAL
13,14,Río Full Net,BELGRANO 244,MONTEROS,TUCUMAN,ARGENTINA,MONTEROS

In [34]:
query = """
CREATE TABLE proveedor(
         idProveedor INT,
         Nombre VARCHAR(50),
         Direccion VARCHAR(150),
         Ciudad VARCHAR(100),
         Provincia VARCHAR(120),
         Pais VARCHAR(100),
         Departamento VARCHAR(120)
         );"""

cursor.execute(query)

0

In [70]:
proveedor.to_sql(name='proveedor',con=my_conn, if_exists='append', index=False)

14

In [74]:
producto = pd.read_excel(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PRODUCTOS.xlsx')

In [79]:
producto.head()

   ID_PRODUCTO                            Concepto         Tipo   Precio
0        42737                  EPSON COPYFAX 2000    IMPRESIÓN  1658.00
1        42754    MOT ASROCK H110M-HDS S1151 S/VGA  INFORMATICA  1237.50
2        42755  MOT ASROCK A58M-VG3+ AMD FM2+ R2.0  INFORMATICA  1079.32
3        42756                  MOT ECS KAM1-I AM1  INFORMATICA   638.66
4        42757    MOT ASROCK B150M-HDS S1151 S/VGA  INFORMATICA  1784.42

In [80]:
producto.rename(columns={'ID_PRODUCTO':'idProducto'}, inplace=True)

In [83]:
cursor.execute('DROP TABLE producto')

0

In [84]:
query = """
        CREATE TABLE producto (
            idProducto INT,
            Concepto VARCHAR(120),
            Tipo VARCHAR(50),
            Precio DECIMAL(12,2)
        );
"""
cursor.execute(query)

0

In [85]:
producto.to_sql(name='Producto', con=my_conn, if_exists='append', index=False)

C:\Users\Intel\AppData\Local\Temp\ipykernel_8552\1137150444.py:1: UserWarning: The provided table name 'Producto' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  producto.to_sql(name='Producto', con=my_conn, if_exists='append', index=False)

291

In [86]:
producto

,idProducto,Concepto,Tipo,Precio
0,42737,EPSON COPYFAX 2000,IMPRESIÓN,1658.00
1,42754,MOT ASROCK H110M-HDS S1151 S/VGA,INFORMATICA,1237.50
2,42755,MOT ASROCK A58M-VG3+ AMD FM2+ R2.0,INFORMATICA,1079.32
3,42756,MOT ECS KAM1-I AM1,INFORMATICA,638.66
4,42757,MOT ASROCK B150M-HDS S1151 S/VGA,INFORMATICA,1784.42
...,...,...,...,...
286,43039,VALIJA NOTEBOOK CASE LOGIC INT-115 NEGRO,ESTUCHERIA,815.00
287,43040,VALIJA NOTEBOOK CASE LOGIC LODA-115 DRESS BLUE,ESTUCHERIA,757.00
288,43041,VALIJA NOTEBOOK CASE LOGIC LODA-115 GRAPHITE,ESTUCHERIA,779.00
289,43042,VALIJA NOTEBOOK CASE LOGIC LODA-115 PETROL GREEN,ESTUCHERIA,1121.00
290,43043,VALIJA NOTEBOOK CASE LOGIC VNAI-215 NEGRO,ESTUCHERIA,1159.00

In [89]:
import xlrd

In [90]:
empleado = pd.read_excel(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Empleados.xls')

In [91]:
empleado.head()

,ID_empleado,Apellido,Nombre,Sucursal,Sector,Cargo,Salario
0,1968,Burgos,Jeronimo,Caseros,Administración,Administrativo,32000
1,1674,Villegas,Estefania,Caseros,Administración,Vendedor,32000
2,1516,Fernandez,Guillermo,Caseros,Administración,Vendedor,45000
3,1330,Ramirez,Eliana,Caseros,Administración,Vendedor,32000
4,1657,Carmona,Jose,Caseros,Administración,Vendedor,32000

In [92]:
empleado.rename(columns={'ID_empleado' : 'idEmpleado'}, inplace=True)

In [95]:
query = """
        CREATE TABLE empleado (
            idEmpleado INT,
            Apellido VARCHAR(70),
            Nombre VARCHAR(90),
            Sucursal VARCHAR(100),
            Sector VARCHAR(100),
            Cargo VARCHAR(100),
            Salario INT
        )
"""
cursor.execute(query)

0

In [96]:
empleado.to_sql(name='empleado', con=my_conn, if_exists='append', index=False)

267

In [99]:
conexion.close()